body{background:#999 url("../images/freshlr-bg-blue-white.jpg") repeat;color:#555;cursor:default;font-family:'NewsCycleRegular', 'DroidSansRegular', 'GoudyBookletter1911Regular', Helvetica, 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;font-size:0.9em;-webkit-font-smoothing:antialiased;}
a{color:#8d131e;text-decoration:none;}
a:hover{color:#a7a7a7;}
ul{list-style-type:square;}
ul>li>a{display:block;position:relative;}
.one-full,
.two-third,
.one-half,
.one-third{float:left;overflow:visible;padding:10px;}
.one-full{width:715px;}
.two-third{width:470px;}
.one-half{width:345px;}
.one-third{width:225px;}
.last{float:right;}
.aligncenter{text-align:center;}
.alignjustify{text-align:justify;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
#wrapper{background:#fff;box-shadow:#444 0px 0px 7px;-moz-box-shadow:#444 0px 0px 7px;-webkit-box-shadow:#444 0px 0px 7px;box-shadow:0 0 7px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 0 7px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 0 7px rgba(0, 0, 0, 0.5);margin-top:50px;margin-left:auto;margin-right:auto;padding:0;position:relative;width:960px;}
#aside{background:transparent;left:0 !ie;top:200px;float:left;width:199px;padding:20px 0;position:fixed;z-index:99;}
#aside ul{list-style-type:none;}
#aside a{display:block;font-family:'PermanentMarkerRegular', 'BallparkWeiner', 'GoudyBookletter1911Regular', BebasNeueRegular, Helvetica, Arial, sans-serif;font-size:22px;height:20px;padding:10px 30px;text-align:right;}
#aside a:hover{color:#999;}
.whitespace{clear:both;}
.page_title{clear:right;font-size:2em;padding:0 10px !important;*padding:10px 0 0 10px; color: #8d131e;}
